.test{
    /* background-color: blue; */
    /* color: white; */
    padding : 30px;
    border-width: 20px;
    border-color: blue;
    border-style: solid;
    /* border-top-width: 20px;
    border-right-width: 50px;
    border-bottom-width: 60px;
    border-left-width: 30px; */
    /* border-width: 30px 20px 50px 60px; */
/* 
    border-top-color: blue;
    border-right-color: gray;
    border-bottom-color: yellow;
    border-left-color: black; */
    /* border-color: black blue yellow green ; */
    /* border-color: orange;
    border-top: 60px solid red;
    border-right: 30px dashed yellow;
    border-bottom: 10px solid blue;
    border-left: 10px dotted green; */
}