.parant{
    border: 5px solid black;
}
.one{
    height: 30px;
    width: 100px;
    background-color: red;
    display: inline-block;
    padding: 40px;
    margin: 10px;
}
.two{
    height: 30px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}
.block{
    height: 30px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    margin: 30px;
    padding: 10px;
}
