/* .item{
        width: 100px;
        position: absolute;
        top: 100px;
        left: 100px;
    background-color: orange;
    /* transform-origin: bottom; */
    /* transform-origin: left; */
    /* transform: translate(100px); */
    /* animation: atul 60s infinite;
}
/* @keyframes atul{ */
    /* form{+
        
        width: 100px;
      
        background-color: orange;
    }
    to{
        width: 100px;
        transform: rotate(360deg);

        background-color: blue;
    } */
/* }  */
