div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 200px;
}

hr{
    position: relative;
    top: 30px;
    width: 50%;
    left: 90px;
    animation : atul  1;
}